.cardContainer {
  width: 100%;
  max-width: 1500px;
  padding: 50px 5px 80px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 380px);
  grid-gap: 80px 0;
  justify-content: space-around;
  margin: 0 auto;
}

html {
  background: url(./images/a75b8f5ba746f9e47563abf41f04d85a-700.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-attachment: fixed;
  overflow-x: hidden;
  text-align: center;
}