@import url('https://fonts.googleapis.com/css?family=Special+Elite');

.card {
  font-family: 'Special Elite', cursive;
  background-repeat: no-repeat;
  height: 550px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  box-shadow: #931115c0 4px 4px 10px,#000 -4px -2px 10px ;
  transition: all 0.3s ease;
  div {
    color: transparent;
    height: 70%;
    margin-top: 200px;
    overflow: scroll;
  }
  &:hover {
    transform: scale(1.05);
    cursor: pointer;
    div {
      background: #931115b0;
      color: white;
    }
  }
  h1 {
    font-size: 2.5em;
    padding: 10px;
  }
  p{
    font-size: 1.1em;
    margin: 5px 15px;
    text-align: center;
  }
  button {
    width: 100px;
    outline: none;
    border: none;
    background: transparent;
    padding-left: 320px;
    i {
      font-size: 3.5em;
      color: #931115;
      padding: 15px;
      text-shadow: #000 4px 3px 4px;
      &:hover {
        cursor: pointer;
        color: #fff;
        text-shadow: #a80308 4px 3px 4px;
      }
    }
  }
}