.card {
  font-family: 'Special Elite', cursive;
  background-repeat: no-repeat;
  height: 550px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  box-shadow: 
    $transparentMainColor 4px 4px 10px,
    $transparentMainColor 2px 0px 10px,
    #000 -2px 0px 10px,
    #000 -4px -2px 10px;
  transition: all 0.3s ease;
  div {
    color: transparent;
    height: 70%;
    margin-top: 200px;
    overflow: scroll;
  }
  &:hover {
    box-shadow: 
      rgba(0, 0, 0, 0.582) 4px 4px 10px,
      rgba(0, 0, 0, 0.582) 2px 0px 10px,
      rgba(0, 0, 0, 0.582) -2px 0px 10px,
      rgba(0, 0, 0, 0.582) -4px -2px 10px;
    transform: scale(1.05);
    div {
      background: $transparentMainColor;
      color: white;
    }
  }
  h1 {
    font-size: 2.5em;
    padding: 10px;
  }
  p {
    font-size: 1.1em;
    margin: 5px 15px;
    text-align: center;
  }
  button {
    @include tansparentButton();
    margin-left: 300px;
    i {
      font-size: 3.8em;
      color: $mainColor;
      padding: 10px;
      text-shadow: rgb(0, 0, 0) 4px 3px 4px;
      &:hover {
        cursor: pointer;
        color: white;
        text-shadow: $mainColor 4px 3px 4px;
      }
    }
  }
}
