.header {
  font-family: 'scary-arms';
  font-size: 7.5em;
  letter-spacing: 15px;
  text-shadow: #c7c7c7 -25px 40px 10px;
  margin: 30px 0px 10px -400px;
  height: 130px;
  a {
    text-decoration: none;
    color: black;
  }
  &:hover {
    text-shadow: $mainColor -25px 40px 10px;
  }
}

.movie {
  position: absolute;
  left: 60px;
  animation: movie-rush-in 1s ease;
  z-index: 1;
}

.stalker {
  position: absolute;
  left: 450px;
  animation: stalker-rush-in 1.5s ease;
}

.welcome {
  float: right;
  margin: -15px 70px 0 0;
  font-family: 'Special Elite', cursive;
  font-weight: bold;
  font-size: 1.3em;
}

@keyframes movie-rush-in {
  0% {
    opacity: 0;
  }

  50% {
    left: -200px;
    transform: skew(-30deg);
    opacity: 0;
  }

  80% {
    transform: skew(-30deg);
  }

  90% {
    transform: skew(10deg);
  }

  100% {
    left: 60px;
    transform: none;
  }
}

@keyframes stalker-rush-in {
  0% {
    opacity: 0;
  }

  50% {
    left: -200px;
    transform: skew(-30deg);
    opacity: 0;
  }

  90% {
    transform: skew(-30deg);
  }

  95% {
    transform: skew(10deg);
  }

  100% {
    left: 450px;
    transform: none;
  }
}
