.menu {
  background: url(https://ya-webdesign.com/images/blood-smear-png-4.png);
  height: 120px;
  width: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: -120px 60px 0px 0px;
  float: right;
  p {
    font-size: 2.3em;
    color: white;
    margin: 12px 100px 0px 0px;
    font-weight: bold;
    // text-shadow: #000 4px 2px 4px;
  }
  &:hover {
    cursor: pointer;
    p {
      color:#000;
      // text-shadow: none;
    }
    height: 125px;
    width: 410px;
  }
}