.message-container {
  border: 2px solid $mainColor;
  background: rgba(0, 0, 0, 0.692);
  color: white;
  font-family: 'Special Elite', cursive;
  font-size: 1.3em;
  padding: 5px;
  width: 500px;
  position: sticky;
  z-index: 10;
  text-align: center;
  margin: auto;
  top: 100px;
  animation: fade 15s linear;
}

@keyframes fade {
  0%{
    opacity: .2;
  }
  5%{
    opacity: 1;
  }
  90%{
    opacity: .7;
  }
  99%{
    opacity: .2;
  }
}

.blah {
  height: 34px;
}